services:
  app:
    build:
      context: .
      dockerfile: ./Dockerfile 
    volumes: 
      - .:/workspaces:cached
    command: sleep infinity
    ports:
      - "5173:5173"
      - "8000:8000"
    depends_on:
      - db
    
  db:
    image: postgres:16-alpine 
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD} 
    ports:
      - "55432:5432"
     
volumes: 
  postgres-data:
