services:
  dev-container:
    build:
      context: .
      dockerfile: ./Dockerfile.dev
    volumes:
      - ..:/workspaces:cached
    command: 'sleep infinity'
    environment:
      - PYTHONDONTWRITEBYTECODE=1 # Evitar python .pyc
      - PYTHONUNBUFFERED=1 # Evitar buffer
      - PYTHONPATH=/workspaces/backend # Setear el path a python a python
    ports:
      - '5173:5173'
      - '8000:8000'
    depends_on:
      - db

  db:
    image: postgres:16-alpine
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - '5432:5432'
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB} || exit 1']

      interval: 5s
      timeout: 3s
      retries: 20

volumes:
  postgres-data:
